.confirm-modal {
  text-align: center;
  max-width: 320px;
}

.confirm-icon {
  font-size: 32px;
  margin-bottom: 12px;
}

.confirm-modal .modal-actions {
  justify-content: center;
}

.btn-danger {
  background: #e53e3e;
  color: #fff;
}

.btn-danger:hover:not(:disabled) {
  background: #c53030;
}
